.footerWrapper {
  background-color: #0f172a;
  color: #ffffff;
  padding: 24px;
  text-align: center;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

:global([data-theme="dark"]) .footerWrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

@media (min-width: 768px) {
  .footerWrapper {
    padding: 16px 32px;
    font-size: 15px;
  }
}
